<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" >FrontRIS</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" routerLink="/patient">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/protocole">Protocoles</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/examen">Examens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/compteRendu">Comptes Rendus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/documentPatient">Documents Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" routerLink="/gestionUtilisateur">Utilisateurs</a>
        </li>
      </ul>
    </div>

    <a class="btn navbar-btn btn-danger navbar-right pull-right" role="button" href="#">Logout</a>

  </div>
</nav>
<router-outlet></router-outlet>