<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
          <li class="nav-item">
            <button class="btn" type="button" (click)="showPatientList(true)">PatientList</button>
          </li>
          <li class="nav-item">
            <button class="btn" type="button" *ngIf="this.keycloak.isUserInRole('Secretaire')" (click)="showPatientList(false)">PatientCreate</button>
          </li>


        </ul>
      </div>
    </div>
  </nav>
 <app-patient-list *ngIf="myboolean" [myList]="myList" ></app-patient-list>
 <app-patient-create *ngIf="!myboolean && this.keycloak.isUserInRole('Secretaire')" [myList]="myList" [myboolean]="myboolean"></app-patient-create>
