<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-1 mb-lg-0">
          <li class="nav-item">
            <button class="btn" type="button" (click)="showProtocoleList(true)">ProtocoleList</button>
          </li>
          <li class="nav-item">
            <button class="btn" type="button" *ngIf="this.keycloak.isUserInRole('ManipulateurReferent')" (click)="showProtocoleList(false)">ProtocoleCreate</button>
          </li>


        </ul>
      </div>
    </div>
  </nav>
 <app-protocole-list *ngIf="myboolean" [myList]="myList" ></app-protocole-list>
 <app-protocole-create *ngIf="!myboolean && this.keycloak.isUserInRole('ManipulateurReferent')" [myList]="myList" [myboolean]="myboolean"></app-protocole-create>